<form class="form-horizontal" action="/login" method="post" enctype="multipart/form-data">
	<div style="width: 500px; position: absolute;  left: 50%; margin-left:-250px; height: 230px; top: 50%; margin-top:-115px;">

		<h1 style="border-bottom: 1px dotted #ccc; padding: 10px; margin-bottom: 15px;">{{ heading }}</h1>
		<div class="control-group">
			<label class="control-label" for="username">Username</label>
			<div class="controls">
				<input type="text" id="username" name="username" placeholder="Username" value="{{ username }}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">Password</label>
			<div class="controls">
				<input type="password" id="password" name="password"  placeholder="Password">
			</div>
		</div>
		<div class="control-group" style="border-top: 1px dotted #ccc; padding-top: 10px;">
			<div class="controls">

				<button type="submit" class="btn" style="float:right;">Sign in</button>
				<a href="/" class="btn btn-link" style="float:right;">Cancel</a>
			</div>
		</div>
	</div>
	
</form>